@font-face{
   font-family: 'hanzi';
   src:url('http://lc-zltjehai.cn-n1.lcfile.com/c9b6e132cfe17197dbd9/jianti.woff'),url('http://lc-zltjehai.cn-n1.lcfile.com/3896b688d756ef08ed9c/jianti.otf'),url('http://lc-zltjehai.cn-n1.lcfile.com/0323f90501935da34f53/jianti.eot'),url('http://lc-zltjehai.cn-n1.lcfile.com/d478e8aba7884030b304/jianti.ttf');}
body {
  font-family: 'hanzi' !important;

}