@font-face{
   font-family: 'hanzi';
   src:url('http://lc-zltjehai.cn-n1.lcfile.com/fce935e9df8a18e5704a/hanzi.eot'),url('http://lc-zltjehai.cn-n1.lcfile.com/c2e7b8c94c6baa19bf83/hanzi.otf'),url('http://lc-zltjehai.cn-n1.lcfile.com/2640443299031d712373/hanzi.ttf'),url('http://lc-zltjehai.cn-n1.lcfile.com/d2e973aade84454dd36a/hanzi.woff');}
body {
  font-family: 'hanzi' !important;

}