$accentColor = #424242
$textColor = #232321
$themePicker = {
  colorName1: #a2b5cd,
  colorName2: #4af79c,
  colorName3: #d61414,
  colorName4: #ee6140,
  colorName5: #d9c9ea,
  colorName6: #0399d3,
  colorName7: #061283,
  colorName8: #e05423,
  colorName9: #ffd700
}